@import 'tailwindcss';
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant light (&:is(.light *));

:root {
  --background: #f3f4f6;
  --foreground: #111827;

  --color-bg-page: #fcfcfc;
  --color-bg-surface: #ffffff;

  --color-primary: #1ca46b;
  --color-primary-soft: #dcfce7;
  --color-primary-strong: #15803d;

  --color-accent: #ff6b4a;
  --color-accent-soft: #ffe4d6;

  --color-danger: #f97373;
  --color-danger-strong: #ef4444;
  --color-danger-soft: #fee2e2;

  --color-border-subtle: #e5e7eb;

  --color-text-main: #111827;
  --color-text-muted: #6b7280;

  --color-nav-pill-bg: #1ca46b;
  --color-nav-pill-text: #f9fafb;

  --color-header-bg: #f9fafb;
  --color-footer-bg: #f9fafb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-page: var(--color-bg-page);
  --color-surface: var(--color-bg-surface);
  --color-primary: var(--color-primary);
  --color-primary-soft: var(--color-primary-soft);
  --color-border-subtle: var(--color-border-subtle);
  --color-text-main: var(--color-text-main);
  --color-text-muted: var(--color-text-muted);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-bg-page);
  color: var(--color-text-main);
}
